<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Редактирование теста</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Изменить данные о пользователе ' + ${test.getTitle()}"></h3>
    <form method="POST" class="needs-validation" style="max-width: 50vw" th:action="@{/tests/update}"
          th:object="${testForm}">
        <input type="hidden" name="id"
               th:value="${test.getId()}">
        <input type="hidden" name="id"
               th:value="${test.getQuestionQuantity()}">
        <input type="hidden" name="id"
               th:value="${test.getCreatedWhen()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="title" th:value="${test.getTitle()}" type="text" class="form-control" id="title"
                           placeholder="Введите название"
                           required>
                    <label for="title">Название теста</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="description" th:value="${test.getDescription()}" type="text" class="form-control"
                           id="description"
                           placeholder="Введите описание" required>
                    <label for="description">Описание</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="duration" th:value="${test.getDuration()}" type="number" value="60"
                           class="form-control" id="duration" placeholder="Введите длительность выполнения"
                           required>
                    <label for="duration">Длительность выполнения (в минутах)</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="form-floating">
                <input name="deadline" th:value="${test.getDeadline()}" type="date" class="form-control" id="deadline"
                       placeholder="Введите дату дедлайна" required>
                <label for="deadline">Дата дедлайна</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="form-floating">
                <select class="form-select" name="subject" id="subject" required>
                    <option selected th:value="${test.getSubject().getTitle()}">Выберите предмет</option>
                    <option
                            th:each="subject : ${subjects}"
                            th:value="${subject}"
                            th:text="${subject}">
                    </option>
                </select>
                <label for="subject">Предмет</label>
                <div class="invalid-feedback">Обязательное поле для заполнения</div>
            </div>
            <div class="col-md" hidden>
                <div class="form-floating">
                    <input name="teacher" type="text" class="form-control" id="teacher"
                           th:value="${#authentication.getPrincipal().getUserId()}" placeholder="teacher"
                           required hidden>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>
