<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление группы</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Создание группы</h3>
    <form method="POST" class="needs-validation" novalidate style="max-width: 50vw" th:action="@{/groups/add}"
          th:object="${groupForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="groupNumber" type="text" class="form-control" id="groupNumber"
                           placeholder="Введите номер группы"
                           required>
                    <label for="groupNumber">Номер группы</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="faculty" type="text" class="form-control" id="faculty" placeholder="Введите факультет"
                           required>
                    <label for="faculty">Факультет</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить группу</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>