<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Назначенные тесты</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Список назначенных тестов</h2>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Тема теста</th>
                    <th scope="col">Предмет</th>
                    <th scope="col">Преподаватель</th>
                    <th scope="col">Дедлайн</th>
                    <th scope="col">Время на выполнение</th>
                    <th scope="col">Тип назначения</th>
                    <th scope="col">Оценка</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.getTest().getTitle()}"></td>
                    <td th:text="${record.getTest().getSubject().getTitle()}"></td>
                    <td th:text="${record.getTest().getTeacher().getLastName()} + ' ' + ${record.getTest().getTeacher().getFirstName()} + ' ' + ${record.getTest().getTeacher().getMiddleName()}"></td>
                    <td th:text="${record.getTest().getDeadline()}"></td>
                    <td th:text="${record.getTest().getDuration() + ' минут'}"></td>
                    <td th:if="${record.getTestGroups() != null}">
                        <a>Групповой</a>
                    </td>
                    <td th:unless="${record.getTestGroups() != null}">
                        <a>Индивидуальный</a>
                    </td>
                    <td th:if="${record.getIsDone()}">
                        <a th:text="${record.getScore().toString()} + '/' + ${record.getTest().getQuestionQuantity().toString()}"></a>
                    </td>
                    <td th:unless="${record.getIsDone()}">
                        <a>----------</a>
                    </td>
                    <td>
                        <div sec:authorize="isAuthenticated() && hasRole('STUDENT')">
                            <a th:if="${!record.getIsDone()}" class="btn btn-sm btn-outline-success"
                               onclick="return confirm('Сразу после подтверждения начнётся выполнение теста. Вы действительно хотите начать тест?');"
                               th:href="'/test-students/perform/' + ${record.getId()}">Пройти тест</a>
                            <a th:if="${record.getIsDone()}" class="btn btn-sm btn-outline-warning"
                               th:href="'/test-students/results/' + ${record.getId()}">Посмотреть результаты</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <nav aria-label="Pagination" th:if="${records.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${records.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/records?page={id}(id=${records.number lt 2 ? 1 : records.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq records.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence(1, records.totalPages, 1)}">
                        <a class="page-link" th:href="@{/records?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${records.number eq records.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/records?page={id}(id=${records.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>

