<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление вопроса</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Создание нового вопроса</h3>
    <form method="POST" class="needs-validation" novalidate style="max-width: 50vw" th:action="@{/questions/add}"
          th:object="${questionForm}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="text" type="text" class="form-control" id="text" placeholder="Введите вопрос"
                           required>
                    <label for="text">Текст вопроса</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="radio" id="default" name="questionTypeId" value="1" checked="checked"> Обычный
                    вопрос<br>
                    <input type="radio" id="test" name="questionTypeId" value="2"> Тестовый вопрос<br>
                </div>
            </div>
        </div>
        <div class="col-md" hidden>
            <div class="form-floating">
                <input name="testId" type="text" class="form-control" id="testId" th:value="${testId}"
                       placeholder="testId"
                       required hidden>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Добавить вопрос</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>